.card {
  position: relative;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
  &:hover {
    .card-body {
      bottom: -100%;
    }
    img {
      filter: grayscale(100%) brightness(0.6);
    }
    &::after {
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
  &::after {
    content: "Play...";
    position: absolute;
    left: 100%;
    bottom: 50%;
    transform: translate(0, 50%);
    font-size: 30px;
    color: white;
    transition: all 0.1s ease;
    transition-delay: 300ms;
    font-weight: 100;
  }
}

.card-body {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  transition: all 0.3s ease;
  min-height: 33%;
}

.card-title {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 0;
}

img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  transition-delay: 100ms;
}
