<script src="albums/album-list.component.ts"></script>
<div class="row">
  <div class="col-12 col-lg-12 mb-12">

    <h4 class="display-3 float-right mb-4">Albums</h4>
    <album-search-form></album-search-form>
    <album-list></album-list>

  </div>
</div>
