<div class="container">

  <div class="main-top row mt-5">
    <div class="col">
      <h1>
        <a routerLink="/">{{title}}</a>
      </h1>
      <account></account>
    </div>
  </div>
  <div class="row mb-5">
    <nav-bar></nav-bar>
  </div>

  <router-outlet></router-outlet>

</div>
