.card {
  display: table;
  width: 100%;
}

.card-img {
  display: table-cell;
  width: 150px;
  height: 150px;
}

.card-body {
  display: table-cell;
  vertical-align: middle;
}

img.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.followers {
  span {
    font-weight: bold;
  }
}

.genres {
  width: 100%;
  span {
    margin-right: 5px;
    color: #777;
    text-decoration: underline;
  }
}

h4 {
  cursor: pointer;
}
