<div class="account">
  <div class="account-name">
    <a [attr.href]="accountUrl">{{userName}}</a>
  </div>
  <div class="account-image">
    <div class="account-image-circle">
      <img [attr.src]="accountImage" alt="">
    </div>
  </div>
</div>
