.account {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.account-name {
  font-size: 16px;
  margin-right: 10px;
}

a {
  color: black;
}

.account-image {
}

.account-image-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
}
